*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
.container{
	width:80%;
	margin:0 auto;
}
.head{
	text-align:center;
}
.head h1{
	font-size:40px;
	font-weight:600;
	color:skyblue;
	margin:20px;
}
.head p{
	font-size:18px;
}
.feature-row{
	display:flex;
	flex-wrap:wrap;
}
.feature-col{
	width:33.33%;
	text-align:center;
	margin-top:20px;
}
.card{
	width:100%;
	height:100%;
	line-height:20px;
}
.card h3{
	margin:20px 0;
}
a{
	display: inline-block;
    margin-top: 20px;
	color:skyblue;
}
.Iicon{
	width:100px;
	height:100px;
	background-color:#ccc;
	border:3px solid #ccc;
	box-shadow:inset 0px 0px 0px 5px white;
	border-radius:50%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:0 auto;
	font-size:30px;
}